
<section class="section">
    <div class="grid__container">
        <div class="grid__row">    
            <div class="grid__col-xxl--12 grid__col-xl--12 grid__col-lg--12 grid__col-md--12 grid__col-xs--12 grid__col--flex-col">
                <div class="about__menu">
                    <h5>Media Kit Inquiries (Test Site)</h5>
                </div>
                <div class="about__wrap about__wrap--query">
                    <!-- Klaviyo Form -->
                    {% comment %} <div class="klaviyo-form-TiBZ8d"></div> {% endcomment %}
                    <img class="about__image"
                        src="{{section.settings.about-inquiries-image | img_url: 'master'}}"/>
                </div>
            </div>
        </div>
    </div>
</section>   
