<section class="section section--row">
    <div class="app__container">
        <div class="grid__container">
            <div class="grid__row app__row">
                <div class="grid__col-xxl--12 grid__col-xl--12 grid__col-lg--12 grid__col-md--12 grid__col-xs--12 grid__col--flex-row">
                    <div class="app__content">
                        <h1 class="app__title">Alerta Find App</h1>
                        <h3 class="app__description">Download the Alerta Find application in your device’s app store</h3>
                        <div class="app__links">
                            <div class="app__button app__button--apple">
                                <a href="https://apps.apple.com/us/app/alertafind/id1482777322" target="_blank">
                                    {% render 'icon-app-store' %}
                                </a>
                            </div>
                            <div>
                                <a href="https://play.google.com/store/apps/details?id=com.passtimeusa.AlertaFind&hl=en_US" target="_blank">
                                    <img class="app__button app__button--google" src="{{ 'google-play.png' | asset_url }}" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>