<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://use.typekit.net/azz3bye.css">
    </head> 
<body>
<div class="container" style="width: 700px; font-size: 1.5em; color: #000000; margin: 0 auto;">
    <table id="table-container" style="height: 100% !important; width: 100% !important; border-collapse: collapse; background: #F8F8F8; margin: 0; padding: 0; border: 8px solid #D12220;" border="0" width="100%" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td id="cell-container" style="height: 100% !important; width: 100% !important; margin: 0; padding: 0;" align="center" valign="top"><!-- // BEGIN EMAIL -->
                    <table id="main-container" style="border-collapse: collapse;" border="0" width="100%" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td id="hero-section" style="padding: 20px;" align="center" valign="top">
                                    <table style="border-collapse: collapse;" border="0" width="100%" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td align="center" valign="top">
                                                    <img style="display: block; outline: none; text-decoration: none; margin: 20px 0; border: 0; max-width: 300px; max-height: 200px;" 
                                                    src="https://cdn.shopify.com/s/files/1/1661/6207/files/alerta-logo-hd_125x.png?v=1558071350" 
                                                    alt="" width="" height="" />
                                                    </td>
                                            </tr>
                                            <tr>
                                                <td align="center" valign="top">
                                                    <h1 style="font-family: ivypresto-headline, serif; color: #525252; font-weight: 600; font-size: 2em; margin: 0; padding: 0;">Hi! [firstname]</h1>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <!-- hero-section -->
                            <tr>
                                <td id="cta-container" style="background: #FFFFFF; padding: 20px;" align="center" valign="top">
                                    <p style="font-family: marine, sans-serif; font-weight: 400; line-height: 1.8; text-align: center; margin: 20px 0; padding: 0;" align="center; font-size: 1.3em;">
                                    You have a subscription order that is scheduled to ship out but it appears we are not able to process the payment to the credit/debit card on file. 
                                    You may need to update credit/debit card information (card number, expiration, or security code) to continue your subscription. If you used a debit card, you should check the balance of the card first.</p>
                                    <table style="border-collapse: collapse; color: #525252;" border="0" width="100%" cellspacing="0" cellpadding="0" align="center">
                                        <tbody>
                                            <tr>
                                                <td align="center" valign="top">
                                                    <p style="font-family: marine, sans-serif; font-weight: 400; line-height: 1.8; text-align: center; margin: 20px 0; padding: 0;" align="center">Kindly contact our customer service center at 833-443-5799 to update your credit/debit card information with a live agent.</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td id="buttons" align="center" valign="top">
                                                    <a style="margin-bottom: 20px; letter-spacing: 2px; font-family: marine, sans-serif, serif; font-weight: 600;color: #FFFFFF; border-radius: 50px; text-align: center; font-size: 1em; text-decoration: none; display: inline-block; font-weight: 300; background: #D12220; padding: 15px 20px; -webkit-text-size-adjust: none;" href="tel:883-443-5799">Call 883-443-5799</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <!-- cta-container -->
                            <tr>
                                <td id="footer-container" style="border-top: 2px solid #F9F9F9; color: #525252; font-size: 1em; background: #F9F9F9; padding: 20px;" align="center" valign="top">
                                    <table style="border-collapse: collapse;" border="0" width="100%" cellspacing="-2" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td align="center" valign="top">
                                                    <h2 style="font-family: ivypresto-headline, serif; color: #525252; font-weight: 300; font-size: 1.5em; margin: 0; padding: 0;">Questions?</h2>
                                                    <p style="font-family: marine, sans-serif; font-weight: 400; margin: 20px 0; padding: 0;">If you have any questions, please don't hesitate to get in touch.</p>
                                                    <p style="margin: 20px 0; padding: 0;"><a style="letter-spacing: 2px; font-family: marine, sans-serif, serif; font-weight: 600; color: #FFFFFF; background: #D12220; text-decoration: none; font-size: 1.2em; display: inline-block; color: #ffffff; border-radius: 50px; text-align: center; padding: 15px 20px; border: 2px solid #D12220; -webkit-text-size-adjust: none;" href="mailto:alertacustomerservice@trackpatch.com"> alertacustomerservice@trackpatch.com</a></p>
                                                    <p style="font-family: marine, sans-serif; font-weight: 400; margin: 20px 0; padding: 0;">[store_name] Team</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        <!-- footer-container -->
                        </tbody>
                    </table>
    <!-- END EMAIL // -->
                </td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>