<!-- BoldChat Visitor Monitor HTML v5.00 (Website=Alerta_TrackPatch,ChatButton=CITS_Alerta - SupportButton,ChatInvitation=- None -) -->
<script type="text/javascript">
  window._bcvma = window._bcvma || [];
  _bcvma.push(["setAccountID", "193444363009547553"]);
  _bcvma.push(["setParameter", "WebsiteID", "536711207258447569"]);
  _bcvma.push(["addFloat", {type: "chat", id: "2445925419836451756"}]);
  _bcvma.push(["pageViewed"]);
  var bcLoad = function(){
    if(window.bcLoaded) return; window.bcLoaded = true;
    var vms = document.createElement("script"); vms.type = "text/javascript"; vms.async = true;
    vms.src = ('https:'==document.location.protocol?'https://':'http://') + "vmss.boldchat.com/aid/193444363009547553/bc.vms4/vms.js";
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(vms, s);
  };
  if(window.pageViewer && pageViewer.load) pageViewer.load();
  else if(document.readyState=="complete") bcLoad();
  else if(window.addEventListener) window.addEventListener('load', bcLoad, false);
  else window.attachEvent('onload', bcLoad);
</script>

<noscript>
<a href="http://www.boldchat.com" title="Live Support" target="_blank"><img alt="Live Support" src="https://vms.boldchat.com/aid/193444363009547553/bc.vmi?wdid=536711207258447569" border="0" width="1" height="1" /></a>
</noscript>

<!-- /BoldChat Visitor Monitor HTML v5.00 -->