<!-- Popup -->
<div id="modal" class="modal">
    <div class="modal__box flex-col">
        <p class="modal__text">Shipping allows 2 weeks.</p>
        <div class="modal__option flex-row">
            <a class="modal__action modal__action-agree" href="#">Agree</a>
            <a class="modal__action modal__action-close" href="#" rel="modal:close">Close</a>
        </div>
    </div>
</div>

<!-- New Buy Button (Open the modal)-->
<div class="alerta-product-submit">
    <a class="modal__button button alerta-hero-button-text card-shadow" href="#modal" rel="modal:open">
        <span>BUY NOW</span>
    </a> 
</div>
