<!-- PRODUCT REVIEW LOCATION -->
<section class="section ">
    <div class="grid__container">
         <div class="grid__row review">
            <div class="grid__col-xxl--12 grid__col-xl--12 grid__col-lg--12 grid__col-md--12 grid__col-xs--12 grid__col--flex-row">
                <div class="Intro__title review__title">Review</div>
            </div>
        </div>
        <div class="grid__row">
            <div class="grid__col-xxl--12 grid__col-xl--12 grid__col-lg--12 grid__col-md--12 grid__col-xs--12 grid__col--flex-row">
                <div class="alerta-review" id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
            </div>
        </div>
    </div>
</section>