<section id="alerta-intro" class="section section--row section--intro">
    <div class="grid__container--fluid table--story">
        <div class="grid__row">     
            <div class="grid__col-xxl--6 grid__col-xl--6 grid__col-lg--6 grid__col-md--12 grid__col-xs--12 grid__col--flex-row">
                <img class="table__image lazyload" src="{{ 'new-intro.jpg' | asset_url }}" alt="">       
            </div>    

            <div class="table__container grid__col-xxl--6 grid__col-xl--6 grid__col-lg--6 grid__col-md--12 grid__col-xs--12 grid__col--flex-col">
                <div class="table__content--quote">
                    <h2 class="table__text table__text--underline">What is Alerta?</h2>
                    
                    <img class="table__image table__image--quote" src="{{ 'icon-quote-dark.png' | asset_url }}" alt="">
                    
                    <h4 class="table__text table__text--quote">
                        Alerta is a family of products that <span class="hero__title--strong">improve the lives of parents and caregivers.</span> 
                        It is made up of two products: Alerta Find & the Alerta Wedge and Patch.
                       <br><br>
                       <span class="hero__title--strong">Alerta Find</span> is a GPS vehicle tracker that doesn’t need charging for up to <span class="hero__title--strong">two years</span> and has <span class="hero__title--strong">no monthly fees</span>.
                       <br><br>
                       <span class="hero__title--strong">Alerta Patch</span> is a <span class="hero__title--strong">disposable, waterproof</span> patch that lasts one week and is placed on your loved one’s back to let you know when your loved one wanders."
                    </h4>
                    
                </div>       
            </div>
        </div>
    </div>
</section>  