<section class="section section--row">
    <div class="grid__container policy">
        <div class="grid__row">
            <div class="grid__col-xxl--12 grid__col-xl--12 grid__col-lg--12 grid__col-md--12 grid__col-xs--12 grid__col--flex-col policy__content">
                <h1 class="policy__title">{{policyTitle}}</h1>
            </div>
        </div>

        <div class="grid__row grid__row--policy">
            <div class="grid__col-xxl--8 grid__col-xl--8 grid__col-lg--8 grid__col-md--12 grid__col-xs--12 grid__col--flex-col  grid__col--flex-start-a policy__content">
                {{policyContent}}                 
            </div>

            <div class="grid__col-xxl--4 grid__col-xl--4 grid__col-lg--4 grid__col-md--12 grid__col-xs--12 grid__col--flex-row grid__col--flex-start-a">
                <div class="policy__box">
                    <h5 class="policy__table">Table of Contents</h5>
                    <ul class="policy__list">
                        <!-- script is here-->
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>


