<section class='section'>
    <div class="grid__container">
        <div class="grid__row">
            <div class="grid__col-xxl--12 grid__col-xl--12 grid__col-lg--12 grid__col-md--12 grid__col-xs--12 grid__col--flex-col">
                <div class="Intro__subtitle">Board</div>            
            </div>
        </div>
        <div class="grid__row">
            <div class="grid__col-xxl--12 grid__col-xl--12 grid__col-lg--12 grid__col-md--12 grid__col-xs--12 grid__col--flex-col">
                <div class="MemberList">
                    <div class="MemberList__member">
                        <div class="MemberList__pic">
                            {% render 'team-john' %}
                        </div>
                        <div class="MemberList__name">
                            John Reese
                        </div>
                    </div>
                    <div class="MemberList__member">
                        <div class="MemberList__pic">
                            {% render 'team-jeff' %}
                        </div>
                        <div class="MemberList__name">
                            Jeff Seeley
                        </div>
                    </div>
                    <div class="MemberList__member">
                        <div class="MemberList__pic">
                            {% render 'team-michael' %}
                        </div>
                        <div class="MemberList__name">
                            Michael Phelps
                        </div>
                    </div>
                    <div class="MemberList__member">
                        <div class="MemberList__pic">
                            {% render 'team-doug' %}
                        </div>
                        <div class="MemberList__name">
                            Doug Lahey
                        </div>
                    </div>
                    <div class="MemberList__member">
                        <div class="MemberList__pic">
                            {% render 'team-alerta' %}
                        </div>
                        <div class="MemberList__name">
                            Stanley Bryan
                        </div>
                    </div>
                </div>            
            </div>
        </div>
        <div class="grid__row">
            <div class="grid__col-xxl--12 grid__col-xl--12 grid__col-lg--12 grid__col-md--12 grid__col-xs--12 grid__col--flex-col">
                <div class="Intro__subtitle">Advisor</div>            
            </div>
        </div>
        <div class="grid__row">
            <div class="grid__col-xxl--12 grid__col-xl--12 grid__col-lg--12 grid__col-md--12 grid__col-xs--12 grid__col--flex-col">
                <div class="MemberList">
                    <div class="MemberList__member">
                        <div class="MemberList__pic">
                            {% render 'team-mary' %}
                        </div>
                        <div class="MemberList__name">
                            Mary Leeds
                        </div>
                    </div>
                    <div class="MemberList__member">
                        <div class="MemberList__pic">
                            {% render 'team-robert' %}
                        </div>
                        <div class="MemberList__name">
                            Dr. Robert Potter
                        </div>
                    </div>
                </div>            
            </div>
        </div>
        <div class="grid__row">
            <div class="grid__col-xxl--12 grid__col-xl--12 grid__col-lg--12 grid__col-md--12 grid__col-xs--12 grid__col--flex-col">
                <div class="Intro__subtitle">Manufacturer</div>            
            </div>
        </div>
        <div class="grid__row">    
            <div class="grid__col-xxl--12 grid__col-xl--12 grid__col-lg--12 grid__col-md--12 grid__col-xs--12 grid__col--flex-col">
                <div class="MemberList">
                    <div class="MemberList__member MemberList__member--partner">
                        <a href="https://allazoelectronics.com/" target="_blank">
                            <img src="{{ 'alazo-logo.png' | asset_url'}}" alt="">            
                        </a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
