<!-- Chat us section -->
<section class='section section--intro'>
    <div class="grid__container">
        <div class="grid__row">
            <div class="grid__col-xxl--12 grid__col-xl--12 grid__col-lg--12 grid__col-md--12 grid__col-xs--12 grid__col--flex-col">
                <div class="Intro Intro--service">
                    <div class="Intro__title">Did you find what you were looking for?</div>
                    <div class="Intro__subtitle">If not, just ask our team!</div>
                    <div class="Intro__service">
                        <div class="MemberList">
                            <img class="MemberList__avator" src="{{ 'service-center-member-1.jpg' || asset_url}}" alt="">
                            <img class="MemberList__avator" src="{{ 'service-center-member-2.jpg' || asset_url}}" alt="">
                            <img class="MemberList__avator" src="{{ 'service-center-member-3.jpg' || asset_url}}" alt="">
                            <img class="MemberList__avator" src="{{ 'service-center-member-4.jpg' || asset_url}}" alt="">
                        </div>
                    </div>
                    <div class="btn btn--chat">
                            <a class="btn__link" href="">
                                <div class="btn__title">Chat with us</div>
                                <div class="btn__icon">{% render 'icon-chat' %}</div>
                            </a>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</section>