<section class='section section--intro'>
    <div class="grid__container">
        <div class="grid__row">
            <div class="grid__col-xxl--12 grid__col-xl--12 grid__col-lg--12 grid__col-md--12 grid__col-xs--12 grid__col--flex-col">
                <div class="Intro Intro--service">
                    <div class="Intro__icon">{% render 'icon-q' %}</div>
                    <div class="Intro__title">How can we help you today?</div>
                    <div class="Intro__subtitle">Customer Service Center</div>
                    <div class="Intro__content">
                        <div class="Contact">
                            <div class="Contact__container Contact__container--6">
                                <div class="Contact__icon">{% render 'icon-phone-new' %}</div>
                                <div class="Contact__content">833-325-3782 | 833-392-6337 | 833-443-5799</div>
                            </div>
                            <div class="Contact__container Contact__container--4">
                                <div class="Contact__icon">{% render 'icon-mail' %}</div>
                                <a href="mailto:service@trackpatch.com" class="Contact__content">service@trackpatch.com</a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</section>

<!-- User guide section -->
<section class='section'>
    <div class="grid__container ProductCard__container">
        <div class="grid__row ProductCard__row">
            <div class="grid__col-xxl--10 grid__col-xl--10 grid__col-lg--10 grid__col-md--12 grid__col-xs--12 grid__col--flex-col ProductCard__col">
                <div class="ProductCard">
                    <div class="ProductCard__image">
                        <img src="{{ 'alerta-kit.png' || asset_url }}" alt="">
                    </div>
                    <div class="ProductCard__content">
                        <div class="ProductCard__title">Get Started Kit</div>
                        <div class="ProductCard__action">
                            <div class="ProductCard__button ProductCard__button--video">   
                                <div class="btn">
                                    <a class="btn__link" href="https://youtu.be/j4S9i613SoQ" data-lity>
                                        <div class="btn__title">How to use</div>
                                        <div class="btn__icon">{% render 'icon-product-play' %}</div>
                                    </a>
                                </div>
                            </div>
                            <div class="ProductCard__button ProductCard__button--download">
                                <div class="btn btn--download">
                                    <a class="btn__link" href="https://cdn.shopify.com/s/files/1/1661/6207/files/Alerta_Get_Started_Kit_-_Quick_Start_Guide_English.pdf?33651" target="_blank">
                                        <div class="btn__title btn__title--download">User Guide (pdf)</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid__row ProductCard__row">
            <div class="grid__col-xxl--10 grid__col-xl--10 grid__col-lg--10 grid__col-md--12 grid__col-xs--12 grid__col--flex-col ProductCard__col">
                <div class="ProductCard ProductCard--find">
                    <div class="ProductCard__content">
                        <div class="ProductCard__title">Find</div>
                        <div class="ProductCard__action">
                            <div class="ProductCard__button ProductCard__button--video">   
                                <div class="btn">
                                    <a class="btn__link" href="https://youtu.be/p7JVXIHwBVw" data-lity>
                                        <div class="btn__title">How to use</div>
                                        <div class="btn__icon">{% render 'icon-product-play' %}</div>
                                    </a>
                                </div>
                            </div>
                            <div class="ProductCard__button ProductCard__button--download">
                                <div class="btn btn--download">
                                    <a class="btn__link" href="https://cdn.shopify.com/s/files/1/1661/6207/files/Alerta-Find-Quick-Start_Guide_English.pdf?34592" target="_blank">
                                        <div class="btn__title btn__title--download">User Guide (pdf)</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ProductCard__image">
                        <img src="https://cdn.shopify.com/s/files/1/1661/6207/files/alerta-find-new-collection.png?v=1575393201" alt="">
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Customer center section -->
<section class='section'>
    <div class="grid__container grid__container--wide">
        <div class="grid__row">
            <div class="grid__col-xxl--12 grid__col-xl--12 grid__col-lg--12 grid__col-md--12 grid__col-xs--12 grid__col--flex-col">    
                <div class="ImageBar">
                    <img class="ImageBar__img" src="{{'customer-service-center.jpg' || asset_url }}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- FAQ section -->
<section class='section'>
    <div class="grid__container">
        <div class="grid__row FaqList__row">
            <div class="grid__col-xxl--10 grid__col-xl--10 grid__col-lg--10 grid__col-md--12 grid__col-xs--12 grid__col--flex-col">    
                <div class="Intro__title">FAQ</div>
                <div class="FaqList">
                    <div class="FaqList__navigation">
                        <div class="FaqList__menu">
                            <div class="FaqList__icon">{% render 'icon-truck' %}</div>
                            <div class="FaqList__title">Shipping</div>
                        </div>
                        <div class="FaqList__menu">
                            <div class="FaqList__icon">{% render 'icon-return' %}</div>
                            <div class="FaqList__title">Returning</div>
                        </div>
                        <div class="FaqList__menu">
                            <div class="FaqList__icon">{% render 'icon-subscription' %}</div>
                            <div class="FaqList__title">Subscription</div>
                        </div>
                        <div class="FaqList__menu">
                            <div class="FaqList__title">Patch & Wedge<br>(Kit)</div>
                        </div>
                        <div class="FaqList__menu">
                            <div class="FaqList__title">Find</div>
                        </div>
                        <div class="FaqList__menu">
                            <div class="FaqList__title">ETC</div>
                        </div>
                    </div>
                    
                    

                    <div class="FaqList__display">
                        <div class="FaqList__init">Select a Subject</div>

                        <!-- Find -->
                        <div class="FaqList__list accordion-find">
                            <div class="ac FaqList__content">
                                <div class="FaqList__question ac-q">Why won’t my app update my Alerta Find’s location?</div>    
                                <div class="FaqList__answer ac-a">If your vehicle is located in a parking garage or similarly dense structure, the GPS system may have difficulty obtaining a signal. If your car is in an unobstructed location, try moving the Find to a different position in your car. If the problem persists, please contact our customer service using the online chat function or by calling us at 833-443-5799.</div>
                            </div>
                            <div class="FaqList__content ac">
                                <div class="FaqList__question ac-q">Can I see my Alerta Find’s location history?</div>    
                                <div class="FaqList__answer ac-a">Yes! It is available under the “history” tab in our app.</div>
                            </div>  
                            <div class="FaqList__content ac">
                                <div class="FaqList__question ac-q">What happens after my 2 years’ service is up?</div>    
                                <div class="FaqList__answer ac-a">In order to continue using Alerta Find, a service feeof $30* is required annually after the first two years. 
                                <br>*Prices are subject to change. Users will be notified of anychanges.</div>
                            </div>  
                            <div class="FaqList__content ac">
                                <div class="FaqList__question ac-q">What do I do when my battery is almost dead?</div>    
                                <div class="FaqList__answer ac-a">Simply call our help line (833-443-5799) or use ouronline chat feature to have our customer representatives order you a new battery. Battery replacement is a one-timecharge of $99*, which includes shipping. 
                                <br>*Prices are subject to change. Users will be notified of anychanges.</div>
                            </div>  
                        </div>

                        <!-- Kit-->
                        <div class="FaqList__list accordion-kit">
                            <div class="ac FaqList__content">
                                <div class="FaqList__question ac-q">Will Alerta create skin irritation?</div>    
                                <div class="FaqList__answer ac-a">Alerta uses an FDA approved adhesive commonly used on the skin of all ages. It is recommended for 10 days before it needs to be removed. The next Alerta Patch should be applied in a different location adjacent to the one removed.</div>
                            </div>
                            <div class="FaqList__content ac">
                                <div class="FaqList__question ac-q">Can the Alerta Patch get wet?</div>    
                                <div class="FaqList__answer ac-a">The loved one wearing the Alerta Patch can shower or exercise like normal. The soft covering on Alerta is a waterproof foam.</div>
                            </div>  
                            <div class="FaqList__content ac">
                                <div class="FaqList__question ac-q">What happens if the Alerta Patch falls off?</div>    
                                <div class="FaqList__answer ac-a">We include 2 additional adhesive films in the Get Started Kit. Peel the Adhesive from one side and apply to the Alerta Patch and peel the other side and apply it to your loved ones back. </div>
                            </div>  
                            <div class="FaqList__content ac">
                                <div class="FaqList__question ac-q">Why not GPS?</div>    
                                <div class="FaqList__answer ac-a">GPS uses too much power to put in a disposable patch. GPS devices need to be charged within hours if not daily.</div>
                            </div>  
                            <div class="FaqList__content ac">
                                <div class="FaqList__question ac-q">Can I use my smartphone in place of the Wedge?</div>    
                                <div class="FaqList__answer ac-a">No. Alerta uses a different frequency than a smartphone. The Wedge is dedicated to one job and that is to monitor the Alerta Patch. The Wedge never needs to be plugged in at night like a smartphone and the batteries can last for 6 months. Also, if a smartphone was used, it would always need to be within 75’ of the loved one. If the caregiver needs to leave the loved one in the care of another while running an errand, the Wedge can stay in the safe zone.</div>
                            </div>
                            <div class="FaqList__content ac">
                                <div class="FaqList__question ac-q">Can the “Safe Zone” be adjusted?</div>    
                                <div class="FaqList__answer ac-a">No, the range is a typical area of 65’ to 80’ from the Wedge. Different homes or environments will change the Safe Zone. Test the Safety Zone when you receive the Get Started Kit to make sure Alerta works for you and your loved one.</div>
                            </div>  
                            <div class="FaqList__content ac">
                                <div class="FaqList__question ac-q">What do I do if my loved one has hair on their back?</div>    
                                <div class="FaqList__answer ac-a">We recommend you shave the area as often as necessary to prevent pulling hair when the Alerta Patch is removed.</div>
                            </div>  
                            <div class="FaqList__content ac">
                                <div class="FaqList__question ac-q">What if the Alerta System doesn’t work for me and my loved one? </div>    
                                <div class="FaqList__answer ac-a">Track Patch 1 Corporation is consumer-friendly. If Alerta System does not work for you, we will give you a full refund for any unused patches or for the Get Started Kit if it simply will not work for you.</div>
                            </div>  
                            <div class="FaqList__content ac">
                                <div class="FaqList__question ac-q">What happens when I no longer need Alerta and Wedge?</div>    
                                <div class="FaqList__answer ac-a">You can simply cancel at any time. If you would like to help someone who may not be able to afford the Alerta System, send any unused Alerta Patches as well as the Wedge and we will get it to them.</div>
                            </div>  
                            <div class="FaqList__content ac">
                                <div class="FaqList__question ac-q">What if I get an Alerta Patch that doesn’t work? </div>    
                                <div class="FaqList__answer ac-a">Use a different Alerta Patch from your 4 pack and let us know. We will express mail a replacement.</div>
                            </div>  
                            <div class="FaqList__content ac">
                                <div class="FaqList__question ac-q">What do I do if my Wedge batteries get low? </div>    
                                <div class="FaqList__answer ac-a">he Wedge uses long-life batteries. You can replace with off the shelf batteries from your local retailer, but we suggest you order replacement batteries from Track patch 1 Corporation.</div>
                            </div>
                        </div>

                        <!-- shipping-->
                        {% comment %} <div class="FaqList__list accordion-shipping">
                            <div class="ac FaqList__content">
                                <div class="FaqList__question ac-q">Will Alerta create skin irritation?</div>    
                                <div class="FaqList__answer ac-a">Alerta uses an FDA approved adhesive commonly used on the skin of all ages. It is recommended for 10 days before it needs to be removed. 
                                The next Alerta Patch should be applied in a different location adjacent to the one removed. </div>
                            </div>
                        </div> {% endcomment %}

                        <!-- Returing -->
                        <div class="FaqList__list accordion-returning">
                            <div class="ac FaqList__content">
                                <div class="FaqList__question ac-q">Returns</div>    
                                <div class="FaqList__answer ac-a">Our return policy is simple. We are Senior and Caregiver friendly and do not want you to own something you do not need or does not suit your needs. Contact our Customer Service at 833-443-5799 or email alerta@trackpatch.com and we will make easy arraignments for you to return unused patches.
                                <br>To be eligible for a return, your item must be unused and in the same condition that you received it</div>
                            </div>
                            <div class="ac FaqList__content">
                                <div class="FaqList__question ac-q">Refunds (if applicable)</div>    
                                <div class="FaqList__answer ac-a">Once your return is received and inspected, we will send you an email to notify you that we have received your returned item. We will also notify you of the approval or rejection of your refund. If you are approved, then your refund will be processed, and a credit will automatically be applied to your credit card or original method of payment, within a certain amount of days.</div>
                            </div>
                            <div class="ac FaqList__content">
                                <div class="FaqList__question ac-q">Late or missing refunds (if applicable)</div>    
                                <div class="FaqList__answer ac-a">If you haven’t received a refund yet, first check your bank account again. Then contact your credit card company, it may take some time before your refund is officially posted. Next contact your bank. There is often some processing time before a refund is posted. If you’ve done all of this and you still have not received your refund yet, please contact us at alerta@trackpatch.com.</div>
                            </div>
                            <div class="ac FaqList__content">
                                <div class="FaqList__question ac-q">Exchanges (if applicable)</div>    
                                <div class="FaqList__answer ac-a">We only replace items if they are defective or damaged. If you need to exchange it for the same item, send us an email alerta@trackpatch.com and send your item to: Track Patch 1 Corporation, 134 N Battlefield,Chesapeake VA 23320, United States.</div>
                            </div>
                            <div class="ac FaqList__content">
                                <div class="FaqList__question ac-q">Shipping</div>    
                                <div class="FaqList__answer ac-a">To return your product, you should mail your product to: Track Patch 1 Corporation, 134 N Battlefield, Chesapeake VA 23320, United States
                                <br>You will be responsible for paying for your own shipping costs for returning your item. Shipping costs are non-refundable. If you receive a refund, the cost of return shipping will be deducted from your refund.
                                <br>Depending on where you live, the time it may take for your exchanged product to reach you, may vary.
                                </div>
                            </div>
                        </div>

                        <!-- Subscription -->
                        <div class="FaqList__list accordion-subscription">
                            <div class="ac FaqList__content">
                                <div class="FaqList__question ac-q">Product Subscription</div>    
                                <div class="FaqList__answer ac-a">Your subscription for Alerta Patches will begin when Track Patch 1 Corporation recieve your payment. The term for the Alerta Patch subscription service is 52 weeks. The provided payment method will be automatically be billed every 4 weeks at then-current pricing. By using the Alerta Patch subscription service, you agree to be billed every 4 weeks for 13 billing cycles.</div>
                            </div>
                            <div class="ac FaqList__content">
                                <div class="FaqList__question ac-q">Renewal of Product Subscriptions</div>    
                                <div class="FaqList__answer ac-a">After your initial subscription of thirteen 4 week cycles has passed, your account will automatically renew the Alerta Patch subscription service for another 52 week term. If you do not wish to continue using Alerta after your initial term, you must call Track Patch Corporation at <a href="tel:833-392-6337">833-392-6337</a> to stop your renewal.</div>
                            </div>
                            <div class="ac FaqList__content">
                                <div class="FaqList__question ac-q">Early Cancellation of Subscription</div>    
                                <div class="FaqList__answer ac-a">If you wish to cancel your Alerta Patch subscription, you must call Track Patch Corporation at <a href="tel:833-392-6337">833-392-6337</a>. An “early cancellation” constitutes any cancellation request which is made before 330 days have passed from the initial payment. All early cancellations are subject to a fee to be paid by the customer. The fees for early cancellation are as follows: <br>Cancellation within 90 days of purchase: up to $200 
                                <br>Cancellation between 91 days and 180 days of purchase: up to $100 
                                <br>Cancellation between 181 days 330 days of purchase: up to $50 
                                <br>Cancellation fees may be modified or waived if the user has experienced an extenuating circumstance. Track Patch Corporation reserves the right to request supplementary evidence of circumstances related to the users request.</div>
                            </div>
                            <div class="ac FaqList__content">
                                <div class="FaqList__question ac-q">General Terms and Conditions for Subscriptions</div>    
                                <div class="FaqList__answer ac-a">We only replace items if they are defective or damaged. If you need to exchange it for the same item, send us an email alerta@trackpatch.com and send your item to: Track Patch 1 Corporation, 134 N Battlefield,Chesapeake VA 23320, United States.</div>
                            </div>
                            
                            <div class="ac FaqList__content">
                                <div class="FaqList__question ac-q">Shipping</div>    
                                <div class="FaqList__answer ac-a">Subscriptions and cancellation fees are non-returnable. If you have a disability which prevents you from using the phone number above to cancel your subscription, please contact us through our website at alertafamily.com. Subscription and cancellation fee pricing are subject to change. New pricing takes effect upon renewal of your subscription.</div>
                            </div>
                        </div>

                        
                    </div>
                </div>                
            </div>
        </div>
    </div>
</section>

<!-- Chat us section -->
{% render 'page-customer-chat-us' %}

<!-- Download App -->
{% render 'block-download-app' %}

