<section class="section section--row">
    <div class="grid__container policy">
        <div class="grid__row">
            <div class="grid__col-xxl--6 grid__col-xl--6 grid__col-lg--6 grid__col-md--12 grid__col-xs--12 grid__col--flex-col  grid__col--flex-start-a">
                <div class="policy__title message__title message__title--underline-primary hero__title hero__title--black">Insurance</div>
            </div>
        </div>

        <div class="grid__row policy--row">
            <div class="grid__col-xxl--8 grid__col-xl--8 grid__col-lg--8 grid__col-md--12 grid__col-xs--12 grid__col--flex-col  grid__col--flex-start-a policy__content">
                <p>If you want to find out how much insurance coverage you can get for Alerta Products, 
                please inquire with your insurance company. It may help you to prepare the following information when submitting a request to your insurance company.</p>
                <h1>Getting a Prescription</h1>
                <p>Getting an official diagnosis for wandering can help gain insurance coverage for Alerta. 
                You can <a class="policy__tip" href="https://cdn.shopify.com/s/files/1/1661/6207/files/Physician_Sample_Letter.docx?34721">click here</a> for a sample letter which can be personalized by your loved one’s physician.</p>
                <h1>Helpful Codes for Insurance/Physician Use</h1>
                <p>The following are some relevant ICD-10-CM Codes:
                <br><br>
                * Z91.83 – Wandering in diseases<br>
                * F70 – Mild intellectual disability<br>
                * F71 – Moderate intellectual disability <br>
                * F03 – Dementia<br>
                * G30.9 - Alzheimer’s
                <br><br>
                The following are some relevant CPT Codes:
                <br><br>
                * 5160 – Emergency response system; installation and testing<br>
                * S5161 – Emergency response system; service fee, per month<br>
                * S5162 – Emergency response system; purchase only<br>
                * E1399 – Durable medical equipment & other<br>
                </p>
            </div>

            <div class="grid__col-xxl--4 grid__col-xl--4 grid__col-lg--4 grid__col-md--12 grid__col-xs--12 grid__col--flex-col grid__col--flex-start-j grid__col--flex-start-a">
                <div class="policy__box">
                    <div class="policy__table">Table of Contents</div>
                    <ul class="policy__list">
                    </ul>
                </div>
               <a class="policy__box" href="https://cdn.shopify.com/s/files/1/1661/6207/files/Physician_Sample_Letter.docx?34721">
                    <div class="policy__table">Download</div>
                    <ul class="policy__list--download">
                        <li>
                            <div class="policy__download">
                                {% render 'icon-doc' %}
                                <div>Physician Sample Letter.docx</div>
                            </div>
                        </li>
                    </ul> 
                </a> 
            </div>

        </div>
    </div>
</section>



