<section class="section">
    <div class="grid__container">
        <div class="grid__row">
            <div class="grid__col-xxl--6 grid__col-xl--6 grid__col-lg--5 grid__col-md--0 grid__col-xs--0 grid__col--flex-col">
            </div>

            <div class="grid__col-xxl--6 grid__col-xl--6 grid__col-lg--7 grid__col-md--12 grid__col-xs--12 grid__col--flex-col">
                <h1 class="product__title product__title--pricing">{{pricingTitle}}</h1>
            </div>
        </div>
</section>

 