<section class="section section--pricing">
    <div class="grid__container">
        <div class="grid__row grid__row--center">   
            <div class="grid__col-xxl--6 grid__col-xl--6 grid__col-lg--5 grid__col-md--10 grid__col-xs--10 grid__col--flex-col grid__col--product">
                <div class="product__content product__content--pricing">
                    <!-- Image -->
                    <div class="product__image pricing__image--kit">   
                        <img src="{{ productImage | img_url: 'master' }}" 
                            alt="Alerta patch & wedge">        
                    </div>
                </div>
            </div>
            <div class="grid__col-xxl--6 grid__col-xl--6 grid__col-lg--7 grid__col-md--0 grid__col-xs--0 grid__col--flex-col">
            </div>
        </div>
    </div>
</section>
