<section class="section section--bar bar__inactive">
    <div class="grid__container">
        <div class="grid__row ">
            <div class="grid__col-xxl--12 grid__col-xl--12 grid__col-lg--12 grid__col-md--12 grid__col-xs--12 grid__col--flex-col">
                <div class="bar">
                    <a class="btn btn--bar" href="{{section.settings.product_slider_btn_url}}">
                        <h5 class="bar__btn">Get Pricing</h5>
                    </a>
                </div>
            </div>
        </div>
</section>

 