<!-- Product Infomation -->
<div class="grid__col-xxl--6 grid__col-xl--6 grid__col-lg--12 grid__col-md--12 grid__col-xs--12 
            grid__col--flex-row grid__col--flex-start-a js-product-info">
    <div class="product__content--single">
   
        <div id="newcart"></div>
    </div>
</div>

{{ "cart.bundle.js" | asset_url | script_tag }}

{% comment %} / {% endcomment %}