<script src="https://fast.wistia.com/embed/medias/hrad0vbxne.jsonp" async></script>
<script src="https://fast.wistia.com/embed/medias/ibey23yzlu.jsonp" async></script>
<script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>

{% if section.settings.product_section_video %}


<section class="section">
    <div class="grid__container">
        <div class="grid__row">
            <div class="grid__col-xxl--12 grid__col-xl--12 grid__col-lg--12 grid__col-md--12 grid__col-xs--12 grid__col--flex-col">
                 <div class="swiper__container swiper__container--video"> 
                    <div class="swiper-container product__video--slider js-product__video--slider">
                        <!-- slides -->
                        <div class="swiper-wrapper">
                            
                            <div class="swiper-slide">
                                <div class="swiper__video">
                                    <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
                                        <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                            <div class="wistia_embed wistia_async_hrad0vbxne videoFoam=true" style="height:100%;position:relative;width:100%">
                                                <div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                                    <img src="https://fast.wistia.com/embed/medias/hrad0vbxne/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="swiper__video">
                                    <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
                                        <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                            <div class="wistia_embed wistia_async_ibey23yzlu videoFoam=true" style="height:100%;position:relative;width:100%">
                                                <div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                                    <img src="https://fast.wistia.com/embed/medias/ibey23yzlu/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        
                        </div>
                        <!-- pagination -->
                        <div class="swiper-pagination swiper-pagination-video"></div>  

                        <div class="swiper-scrollbar"></div>
                        
                        <!-- button -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>    
</section>

{% endif %}