{% comment %} <div class="alerta-reset-container flex-col">

    <div class="alerta-reset-content flex-col">
      <h2 class="title card-title">Reset Account Password</h2>
      <p class="card-text">Enter a new password for {{ email }}</p>
    </div>

    {% form 'reset_customer_password', class: "alerta-reset-form flex-col"%}
      
      {{ form.errors | default_errors }}

      <div id="password" class="flex-row">
        <label class="reset-label card-text" for="password">Password</label>
        <input type="password" value="" name="customer[password]" id="customer_password" class="large password" size="16" />
      </div>
      
      <div id="password_confirm" class="flex-row">
        <label class="reset-label card-text" for="password_confirmation">Password Confirmation</label>
        <input type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" class="large password" size="16" />
      </div>

      <div class="flex-row">
        <input class="card-title login-action-button pwr-submit-btn" type="submit" value="Reset Password" />
      </div>

    {% endform %}
</div> {% endcomment %}


{% section 'account-reset' %}