header{
    padding: 0 0 $padding-medium 0;

    @include breakpoint(xs){
        padding: 0;
    }
}

.header{
    &__logo{
        svg{
            width: 7vw;

            @include breakpoint(md-xl){
                width: 11vw;
            }

            @include breakpoint(xs){
                width: 23vw;
            }
        }
    }
    &__wrap{
        @include flexbox-col;
        width: 100%;
        &--nav{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;
            grid-template-rows: auto;
            justify-items: center;
            align-items: center;
            position: relative;
            margin-top: $margin-xxsmall;
        }
        &--start{
            align-items: flex-start;
        }
        &--end{
            align-items: flex-end;
        }
        
    }
    &__list{
        ul{
            @include flexbox-row;
            justify-items: flex-start;
            list-style-type: none;
        }
        h5{
            font-family: $font-secondary;
        }
        &--nav{
            width: 100%;
            height: 100vh;
            @include flexbox-col;

            ul{
                display: grid;
                grid-template-columns: auto;
                grid-template-rows:  repeat(7, 1fr)
            }
            h5{
                font-family: $font-secondary;  
            }
        }
    }
    &__menu{
        font-weight: $font-weight-bold;
        margin-right: $margin-small;
        text-transform: uppercase;

        @include breakpoint(md-xl){
            margin-right: $margin-xsmall;
        }

        a{
            @include flexbox-row;
        }
        &--cart{
            @include flexbox-row;
            cursor: pointer;
        }

        &--nav{
            font-family: $font-secondary;
            margin: 0;

        }
        &--close{
            opacity: 0.5;
            margin-bottom: $margin-medium;
            cursor: pointer;
        }
        &--back{
            opacity: 0.5;
            margin-bottom: $margin-xxsmall;
            cursor: pointer;
        }
    }
    &__mobile{
        display: none;
        @include breakpoint(xs){
            display: block;
        }
    }
    &__navbar{
        display: none;
        @include breakpoint(xs){
            display: block;
            position: fixed;
            top:0;
            left:0;
            width: 100vw;
            height: 100vh;
            overflow: hidden;
            background-color: color(gray-light);
            transform: translateY(-100%);
            transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
            z-index: 1000;
        }
        &--show{
            transform: translateY(0);
        }

        &--products{
            overflow-y: scroll;
            transform: translateX(100vw);
            transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
            z-index: 1001;
        }

        &--show-products{
            transform: translateX(0)
        }
    }
    &__button{
        &--nav{
            font-family: $font-secondary;
            border: 1px solid color(gray-dark);
            padding: $padding-xxsmall;
            border-radius: 3px;
            cursor: pointer;
            color: color(black-light);
        }
    }
    &__content{
        width: 100%;
        position: relative;
    }
    &__icon{
        &--nav{
            svg{
                transform: rotate(90deg);
            }
        }
    }

}
