.policy{
    padding-bottom: 5rem;
    a{
        text-decoration: none;
        color: inherit;
    }
    .grid__row{
        @include breakpoint(lg-m){        
            flex-wrap: nowrap;
        }
    }
    
    &__container{
        @include flexbox-col;
        align-items: flex-start;

    }
    &__content{
        padding: $padding-small;
    }
    &__title{
        align-self: flex-start;
        margin-bottom: $margin-medium;
        color: color(gray-dark);
       
        @include breakpoint(xs){
            align-self: center;
            text-align: center;
            margin:0;
        }
    }
    &__index{
        font-family: $font-secondary;
        font-weight: $font-weight-regular;
        margin-bottom: $margin-small;

        @include breakpoint(xs){
            align-self: center;
            text-align: center;
        }

      
    }
    &__desc{
        font-family: $font-secondary;
        margin-bottom: $margin-medium;
        line-height: 1.5em;

        @include breakpoint(xs){
            align-self: center;
            text-align: center;
        }
    }

    &__box{
        width: 100%;
        box-sizing: border-box;
        padding: 2rem;

        @include breakpoint(lg-m){        
            width: 100%;
            text-align: center;
        }
    }
    &__table{
        font-family: $font-secondary;
        font-weight: $font-weight-regular;
        text-align: center;;
        background-color: color(gray-light);
        border-radius: 3px;
        padding: $padding-small;
    }
    &__list{
        margin-top: 1rem;
        padding: 1rem;
        list-style-type: none;  
        li{
            margin-bottom: 0.5rem;
            
            
        }

        &--download{
            margin-top: 1rem;
            list-style-type: none;   
            padding: 1rem;
    
            ;
            @include font-size(0.4em);
        }
    }
    &__warning{
        color: color(red);
    }
    &__download{
        @include flexbox-row;
        justify-content: flex-start;

        @include breakpoint(lg-m){        
            justify-content: center;
        }
        svg{
            width: 30px;
        }
        div{
            padding: 0 1rem;
        }
    }

    &__exit{
        cursor: pointer;
    }
}