.productOption{
    display: grid;
    grid-template-rows: repeat(2, auto); 
    box-shadow: $box-shadow-third;
    border-radius: 25px;
    margin-bottom: $margin-small;
    &__container{
        padding: $padding-small;
    }
    &__header{
        display: grid;
        grid-template-columns: 1fr 1.75fr;
    }

    &__body{
        display: grid;
        grid-template-columns: 1fr 1.75fr;
        grid-template-rows: repeat(2,auto);
    }

    &__price{
        color: color(red);
        line-height: 1em;
        font-family: $font-secondary;
    }

    &__suffix{
        color: color(black-light);
        font-size: 18px;
        font-weight: $font-weight-light;
        font-family: $font-secondary;
    }
    
    &__wrap{
        padding: $padding-xsmall;
        &--option{
            @include flexbox-row;
            justify-content: space-around;
            background-color:color(gray);
            border-radius: 25px 0  0  0;
        }
        &--price{
            @include flexbox-col;
            align-items: flex-start;
            border-radius: 0 25px 0 0;
            padding: $padding-medium;
            padding-bottom: $padding-xsmall;
        }
        &--image{
            background-color:color(gray);
            border-radius: 0 0 0 25px;
        }
        &--description{
            padding: $padding-medium;
            padding-top: 0;
        }
    }
    &__term{
        margin-top: $margin-xsmall;
        color: #697EE6 !important;
    }

    &__additional{
        display: grid;
        grid-template-columns: auto 70px 1.5fr 1fr 1fr;
        padding: $padding-small;
        align-items: center;
        justify-items: center;
    }
    &__label{
        font-family: $font-secondary;
        font-weight: $font-weight-light;
    }
    &__checkbox{
        transform: scale(1.5);
    }
    &__name{
        text-align: center;
    }
    &__image{
        &--small{
            width: 50px;
            height: 50px;
            border-radius: 50px;
        }
    }
  
}