{% render 'header-dropdown-dev' %} 
{% section 'index-hero-image' %}
{% section 'collection' %}
{% render 'page-help', sectionClass: "section--bg-half-reverse",
                        btnClass: "tagline__btn--chat" %}



<div class="gird__container">
    <div class="grid__row">
        <div class="grid__col-xxl--6 grid__col-xl--6 grid__col-lg--12 grid__col-md--12 grid__col-xs--12 
                    grid__col--flex-row">
        </div>
    </div>
</div>

